
<h1> {{title}} </h1>

{{# each vkrs}}
    <h3><a href="/uploads/vkrs/{{this.file}}"> открыть {{this.file}}</a></h3>
    <h3><a href="#" download="{{this.file}}"> скачать {{this.file}}</a></h3>

    <!--    <h3> <a href=""> {{this.vkr_pz}}</a></h3>-->
{{/each}}

<!--<form>-->
<!--    <div class="mb-3">-->
<!--        <label for="exampleInputEmail1" class="form-label">Название</label>-->
<!--        <input type="name" class="form-control" id="exampleInputName1" aria-describedby="emailHelp">-->
<!--        <div id="emailHelp" class="form-text">Введите название документа</div>-->
<!--    </div>-->
<!--    <div class="mb-3">-->
<!--        <label for="exampleInputPassword1" class="form-label">Файл</label>-->
<!--        <input type="file" class="form-control" id="exampleInputFile1">-->
<!--    </div>-->
<!--    <button type="submit" class="btn btn-primary">Добавить</button>-->
<!--</form>-->