<h1>{{title}}</h1>
{{# each groups}}
    <form  class="form" action="/groups/{{this.id}}?_method=PUT" method="post">
        <div class="form-group">
            <label for="name">Группа</label>
            <input type="text" value="{{ this.group_name }}" name="group_name" class="form-control" id="group_name" placeholder="Введите год">
        </div>
{{/each}}
    <div class="form-group">
        <label for="name">Год</label>
        <select name="year_id">
{{#each years}}
            <option value="{{this.id}}" id="year_id">{{this.year_name}}</option>
{{/each}}
        </select>
    </div>
    <a class="btn btn-danger btn-sm" href="/groups">Назад</a>
    <button type="submit" class="btn btn-primary btn-sm">Редактировать</button>
</form>
