<h1>{{title}}</h1>
{{# each users}}
    <form  class="form" action="/users/{{this.id}}?_method=PUT" method="post">
        <div class="form-group">
        <label for="name">ФИО</label>
        <input type="text" value="{{ this.user_fio }}"  name="user_fio" class="form-control" id="user_fio" placeholder="Введите ФИО">
    </div>

    <div class="form-group">
        <label for="name">Пароль</label>
        <input type="text" value="{{ this.password }}" name="password" class="form-control" id="password" placeholder="Введите пароль">
    </div>
    <div class="form-group">
        <label for="name">Email</label>
        <input type="text" value="{{ this.email }}" name="email" class="form-control" id="email" placeholder="Введите email">
    </div>
{{/each}}
    <div class="form-group">
        <label for="name">Год</label>
        <select name="year_id">
            {{#each years}}
                <option value="{{this.id}}" id="year_id">{{this.year_name}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <label for="name">Роль</label>
        <select name="role_id">
            {{#each roles}}
                <option value="{{this.id}}" id="role_id">{{this.role_name}}</option>
            {{/each}}
        </select>
    </div>
    <a class="btn btn-danger btn-sm" href="/users">Назад</a>
    <button type="submit" class="btn btn-primary btn-sm">Редактировать</button>
</form>