<div class="pull-left">
    <h1>Список годов</h1>
</div>
<div class="pull-right">
    <a class="btn btn-primary btn-sm" href="vkrs/new"> Добавить</a>
</div>



<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>id</th>
        <th>ФИО студента</th>
        <th>Пояснительная записка</th>
        <th>Техническое задание</th>
        <th>Удаление</th>

    </tr>
    </thead>

    {{# if vkrs }}
        {{# each vkrs }}
            <tr>
                <td>{{ this.id }}</td>
                <td>{{this.student_fio}}</td>
                <td>{{this.vkr_pz}}</td>

                <td>{{this.vkr_tz}}</td>
                <form action="/vkrs/{{ id }}?_method=DELETE" method="post">
                    <td style="text-align: center">
                        <button type="submit" class="btn btn-primary btn-sm edit">Удалить</button>
                    </td>
                </form>
            </tr>
        {{/ each }}
    {{/ if }}
</table>