<div class="pull-left">
    <h1>{{title}}</h1>
</div>
<div class="pull-left">
    <a class="btn btn-primary btn-sm" href=""> <h6>Добавить</h6></a>
    <a class="btn btn-primary btn-sm" href=""> <h6>Редактировать</h6></a>
</div>
<div class="card">
    <div class="card-header">
        <div class="row">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Наименование</th>
            <th scope="col">Показатели освоения компетенции согласно ФГОС и ОПОП</th>
            <th scope="col">Максимальный балл</th>
            <th scope="col">Оцениваемый балл</th>
        </tr>
        </thead>
{{#each lists}}
        <form id="add_form" method="post">
        <tbody>
        <tr>
            <td rowspan="3">Постановка цели и задач исследования</td>
            <td>Актуальность и целевая направленность работы</td>
            <td rowspan="3">5</td>
            <td rowspan="3"><div class="form-group">
                {{this.g1}}
            </div></td>
        </tr>
        <tr>
            <td>2. Обоснованность и полнота сформулированных задач в соответствии с утвержденной темой</td>
        </tr>
        <tr>
            <td>3.Применение эффективных методик использования программных средств решения поставленных задач</td>
        </tr>
        <tr>
            <td rowspan="4">Исполнение</td>
            <td>1. Полнота и структурированность работы; умение научно аргументировать свою позицию, использовать основные законы естественнонаучных дисциплин в профессиональной деятельности</td>
            <td rowspan="4">5</td>
            <td rowspan="4"><div class="form-group">
               {{this.g2}}
            </div></td>
        </tr>
        <tr>
            <td>2. Умение логически верно и грамотно строить письменную речь</td>
        </tr>
        <tr>
            <td>3.Использование современных инструментальных средств и технологий программирования</td>
        </tr>
        <tr>
            <td>4.соответствие оформления работы действующему
                стандарту организации СТО 1.701-2010, требованиям
                проверки на предмет заимствования</td>
        </tr>
        <tr>
            <td rowspan="3">Результаты</td>
            <td>1. Наличие практических рекомендаций по решению поставленных в работе задач, наличие методик использования программного продукта для программиста и пользователя</td>
            <td >5</td>
            <td >
                <div class="form-group">
                {{this.g3_1}}
            </div>
            </td>
        </tr>
        <tr>
            <td>2.Достоверность и обоснованность выводов по
                проведенному исследованию, их соответствие
                заявленной цели</td>
            <td>5</td>
            <td><div class="form-group">
            {{this.g3_2}}
        </div></td>    </tr>
        <tr>
            <td>3.Апробация результатов исследования (доклады на
                научном семинаре или конференции, публикации,
                рекомендации к внедрению и др.)</td>
            <td>5</td>
            <td><div class="form-group">
                {{this.g3_3}}
            </div></td>    </tr>
        <tr>
            <td>1</td>
            <td>Средний балл за ВКР</td>
            <td >5</td>
            <td ><div class="form-group">
              {{this.avg_vkr}}
            </div>
            </td>
        </tr>
        <tr>
            <td rowspan="6">Защита ВКР</td>
            <td>1.Cтепень структурированности и логичности доклада</td>
            <td >5</td>
            <td ><div class="form-group">
                {{this.g4_1}}
            </div></td>
        </tr>
        <tr>
            <td>2.Использование демонстрационного материала, его
                презентабельность (наличие презентации)</td>
            <td >5</td>
            <td >
                <div class="form-group">
                    {{this.g4_2}}
                </div></td>
        </tr>
        <tr>
            <td>3.Научная аргументация и защита своей точки зрения,
                навыки публичной речи</td>
            <td >5</td>
            <td ><div class="form-group">
               {{this.g4_3}}
            </div></td>
        </tr>
        <tr>
            <td>4.Четкость и аргументированность выводов по
                результатам исследования</td>
            <td >5</td>
            <td ><div class="form-group">
         {{this.g4_4}}
            </div></td>
        </tr>
        <tr>
            <td>5.Четкость и аргументированность позиции студента при
                ответе на вопросы членов ГЭК, на замечания
                руководителя и рецензента</td>
            <td >5</td>
            <td ><div class="form-group">
                {{this.g4_5}}
            </div></td>
        </tr>
        <tr>
            <td>6.Общий уровень общения с аудиторией</td>
            <td >5</td>
            <td ><div class="form-group">
              {{this.g4_6}}
            </div></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Средний балл за защиту ВКР</td>
            <td >5</td>
            <td ><div class="form-group">
          {{this.avg_protect}}
            </div></td>
        </tr>
        </tbody>

    </table>
</form>
    {{/each}}
        </div>
    </div>
</div>
